
#header-content .logo {
  background: url(https://i.imgur.com/oa40D0x.png);
  background-repeat: no-repeat;
  background-size: contain; /* Ensure the image fits within the container */
  height: 100px;
  width: 300px; /* Adjust the width as needed */
  margin: 7px 0 0 0; /* Adjust margin as needed */
  position: absolute; /* Position the logo absolutely */
  left: 10px; /* Adjust left position as needed */
  top: 5px; /* Adjust top position as needed */
}


#header-content .online-count {
  position: absolute;
  right: 10px;
  top: 80px;
  font: 600 13px "Poppins", "Roboto", sans-serif;
  color: rgba(21, 32, 56, 0.7);
}

#header-content .online-count:before {
  background: url(); 
  height: 26px;
  width: 1px;
  content: '';
  margin: -5px 0 0 -30px;
  position: absolute;
}

#header-content .online-count b {
  color: rgba(21, 32, 56, 0.9);
}
